<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <p-dropdown [options]="lisansTurleri" [(ngModel)]="selectedLisansTuru"
                        placeholder="Lisans Türü Seçiniz" [showClear]="true" (onChange)="lisansTuruChange()">
                    </p-dropdown>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p-dropdown [options]="sistemKullanicilari" [(ngModel)]="selectedKullanici"
                        placeholder="Sistem Kullanıcısı Seçiniz" [showClear]="true" filter="true"
                        (onChange)="kullaniciChange()">
                    </p-dropdown>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p-dropdown [options]="tesisler" [(ngModel)]="selectedTesisler" placeholder="Tesis Seçiniz"
                        [showClear]="true" filter="true" (onChange)="tesisChange()">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="card">
            <h5>Sayaçlar</h5>
            <p-table #dt1 dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                responsiveLayout="scroll" [value]="sayaclar">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Sayaç Id
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Etso Kod
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Seri No
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Sayaç Tesis Ad
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sayac>
                    <tr>
                        <td style="min-width: 12rem;">
                            {{sayac.sayacId}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{sayac.sayacEtsoKod}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{sayac.seriNo}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{sayac.sayacTesisAd}}
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">Loading customers data. Please wait.</td>
                    </tr>
                </ng-template>  -->
            </p-table>
        </div>
    </div>
</div>